// *************************************
//
//   mixin & extend & keyframe 
//   -> centralized management
//
// *************************************

// -------------------------------------
//   extend
// -------------------------------------

// ----- article ----- //
// typography
%arti-text {
  @include adjust-font-size-to(16px, 1.2);
  color: $c-gray;
}

// -------------------------------------
//   mixin
// -------------------------------------

// ----- media queries ----- //
@mixin bp($point) {
  $bp-pad: "(max-width: 1024px)";
  $bp-pad-v: "(max-width: 768px)";
  $bp-small-table: "(max-width: 800px)";
  $bp-mobile: "(max-width: 568px)";
  $bp-mobile-v: "(max-width: 375px)";

  @if $point == pad {
    @media #{$bp-pad} { @content; }
  }
  @else if $point == pad-v {
    @media #{$bp-pad-v} { @content; }
  }
  @else if $point == table-s {
    @media #{$bp-small-table} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobile-v {
    @media #{$bp-mobile-v}  { @content; }
  }
}

// -------------------------------------
//   function
// -------------------------------------

// ----- z-index function ----- //
@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }
  @return true;
}
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}
@function z($layers...) {
  @if not map-has-nested-keys($z-layers, $layers...) {
    @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
  } 
  @return map-deep-get($z-layers, $layers...);
}

// -------------------------------------
//   keyframe
// -------------------------------------
