// -------------------------------------
//   clearfix
// -------------------------------------

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

// -------------------------------------
//   position
// -------------------------------------

.set-l {
  float: left;
}
.set-r {
  float: right;
}

// -------------------------------------
//   position
// -------------------------------------

.is-hide {
  display: none;
}
.is-show {
  display: block;
}
