extends basic

block head
  title 概觀

block title
  h1.fn-title 概觀
  
block nav-var
  - var currentUrl = "index";

block content
  article.article-box
    p 由 GSS CSID 部門，一起研究開發出來的撰寫風格。是以 Scss 為基礎的 CSS 架構，用於可維護的應用程式樣式。
    p CSS 是簡單易學的語言，但是困難之處在於他很難整理，在大規模的專案以及產品下，需要一套規則讓團隊成員之間的合作，變得更加有效。


block pages
  - var preLink = ""
  - var nextLink = baseUrl + "/style-guide.html"
  - var pre = {name: ""}
  - var next = {name: "下一頁"}

block next-tip
  |style gudie