block  pages
.page-box.group
  .page-l
    a.p-link(href="#{preLink}") 
      span #{pre.name}
      span.p-tip
        block pre-tip
  .page-r
    a.p-link(href="#{nextLink}")
      span #{next.name}
      span.p-tip
        block next-tip
