.article-box {
  margin-bottom: 0;
  padding: 65px 90px;
  .arti-title {
     @extend %h2;
     line-height: 1.7;
     @include trailer(1);
     color: $c-gray;
     border-bottom: 2px solid $c-gray-light;
  }
  h4 {
    color: $c-gray;
    @include trailer(.25);
  }
  p {
    @extend %arti-text;
    @include trailer(1);
  }
  p:last-child {
    margin: 0;
  }
  .arti-list {
    @include trailer(1);
    .list-item {
      @extend %arti-text;
      @include trailer(.3);
      position: relative;
      padding-left: 15px;
      &:before {
        content: "●";
        position: absolute;
        left: 0;
        display: inline-block;
        font-size: $font-size-s;
        vertical-align: middle;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.order {
      .list-item {
        padding-left: 0;
        list-style: decimal inside;
        &:before {
          display: none;
        }
      }
    }
  }
  .sub-arti-list {
    padding-left: 3px;
    .list-item {
      @extend %arti-text;
      @include trailer(0);
      position: relative;
      padding-left: 15px;
      &:before {
        content: "○";
        position: absolute;
        left: 0;
        display: inline-block;
        font-size: $font-size-s;
        vertical-align: middle;
      }
    }
  }
} // article-box end

// code use
.code-box {
  overflow: auto;
  margin-bottom: 24px;
  padding: 38px 40px;
  font-size: 15px;
  line-height: 1.7;
  @include border-radius($border-radius);
  @include background(
    linear-gradient(left, #fff 70%, rgba(0, 0, 0, 0)),
    linear-gradient(right, #fff 70%, rgba(0, 0, 0, 0)) 100% 0,
    radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0)), 
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0)) 100% 0);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 50px 100%, 50px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
code {
  font-family: "Source Code Pro";    
  .c, .n, .nt, .t {
    display: block;
  }
  .n {
    color: darken($c-primary, 10);
  }
  .nt, .nv {
    font-weight: 600;
  }
  .nt {
    color: darken($c-info, 15);
  }
  .nv {
    color: $c-inverse;
  }
  .p {
    color: $c-gray-dark;
  }
  .c, .c-end {
    color: lighten($c-gray, 10);
  }
  .c-end {
    display: inline;
  }
  .t {
    color: $c-inverse;
  }
}

@include bp(pad) {
  .article-box {
    padding: 35px 58px;
  }
}
// @include bp(table-s) {
//   .article-box {
//     padding: 35px 58px;
//   }
// }
@include bp(mobile) {
  .article-box {
    padding: 12px 20px;
  }
}