// *************************************
//
//   page-btn
//   -> page use
//
// *************************************

.page-box {
  padding: 0 47px;
  width: 100%;
  height: 60px;
  @include box-sizing(border-box);
}
.page-r, .page-l {
  width: 50%;
  height: 100%;
}
.page-l {
  float: left;
  text-align: right;
}
.page-r {
  float: right;
  text-align: left;
}
.p-link {
  display: block;
  padding: 12px 15px 0;
  height: 100%;
  font-size: 13px;
  @include box-sizing(border-box);
}
.p-tip {
  display: block;
  font-size: 13px;
  line-height: 1.6;
}